/* -----------Reset links & setting----------- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.li-class {
    list-style-type: none;
    /* width: 100%;
    max-width: 264px; */
}

.link {
    text-decoration: none;

}
/* -----------HEAD setting----------- */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
/* ---------------HEADER-------------- */
.header-field {
    background: #FCFCFC;
    border-bottom: 1px solid #e7e9fc;
    padding: 24px;
    
}

.ad-cont {
    display: flex;
    justify-content: space-between;
}
/* logo----------- */

.logo-field {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-span-nav {
    color: #2e2f42;
}
/* navigatoin----------- */

.nav-cont {
   display: flex;
   align-items: center;
   


}
.nav-ref {
   color: #2e2f42;
   padding: 24px 0;
}

.nav-ref:hover,
.nav-ref:focus {
   color: #404bbf;
}

.nav-text {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.nav-text:hover,
.nav-text:focus {
    color: #404bbf
}

.nav-ul {
    display: flex;
    gap: 40px;

}

/* address----------- */

.address-text {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    
   
}

.add-ref {
    color: #434455;
}

.add-ref:hover, .add-ref:focus {
    color: #404bbf;
}

.address-li {
   color: #434455;
   display: flex;
   gap: 40px;

}
.address-li:hover, .address-li:focus {
    color: #404bbf;
}

/* ---------------SECTION 1-------------- */
.section-one-text {
    background-color: #2E2F42;
    padding: 188px 0;
}

.one-text-head {
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;

    /* dopiski start*/
    /* margin: 0 auto; */
    /* dopiski end */
}

.button-class-one {
    background: #4D5AE5;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    /* dopiski start*/
    /* margin: 0 auto; */
        /* dopiski end */
}
.button-class-one:hover,
.button-class-one:focus {
    background-color: #404BBF;
}
/* -----------------Section 2-------------- */
.section-two-text {
    padding: 120px 0;

}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.ul-text {
    display: flex;
    gap: 24px;

}
.sec-list-class {
    width: calc((100% - 72px) / 4);
}
.two-text-head {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.two-p-text {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* ----------sectoin three--------- */
.section-three {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.li-section-three {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) / 4);
}
.three-text-head {
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 72px;
}



.name-major {
    padding: 32px 0;
}

.three-section-list{
    display: flex;
    gap: 24px;
}

.three-team {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 8px;
    
}

.three-job-title {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}
/* ----------FOUR three--------- */
.four-text-head {
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02emem;
    text-transform: capitalize;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 72px;
    
}

.section-four {
    padding-top: 120px;
    padding-bottom: 120px;

}
.four-ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}

.app-name {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}

.four-list {
    width: calc((100% - 48px) / 3);
}

.app-header {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.type-service {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    
}
/* --------------Footer----------- */
.footer-section {
    background: #2E2F42;
    padding: 100px 0
}

.footer-text {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px
}

.footer-logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.span-footer-logo {
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
/* ------------------------------- */
